.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px red solid;
  border-radius: 10px;
  height: 70px;
  width: 100%;
  background: rgba(255, 0, 0, 0.1);
  color: red;
  svg {
    height: 35px;
    width: auto;
    position: absolute;
    right: 13px;
    top: 16px;
    path {
      fill: red;
    }
  }
}